
*{
    /* color: chartreuse; */
    
}
#bismillah{
    text-align: center;
    color: aqua;
    text-decoration: underline;
    
    


}
.main_div{
    display: flex;
    background-color: rgb(114, 243, 243);
    
}
.heading-title{
    font-size: 50px;
    margin-bottom: 20px;
}
.second-div{
    margin: auto;
    padding-left: 80px;
    font-weight: 30px;
}
.button{
    color:white
    font-style: italic;
    border-width: 15px;
 }

 .third-div{
    size: 5px;
    margin-bottom: -4px;
    padding:100px 80px 0px 20px;
 }
 .forth-div{
    text-align: center;
    justify-content: center;
    background-color: rgb(206, 200, 206);
    margin: 80px;
    padding-bottom: 10px
    ;
 }
.fifth-div{
    display: flex;
    text-align: center;
    justify-content: space-between;
    /* align-items: center; */
    margin: 100px;
    /* background-color: pink; */
    /* text-justify: auto; */
    gap: 40px
    
    ;
      
}
.six-div{
    
    background-size: 40px;
    background-color: rgb(198, 170, 224);
    padding-top: 25vh;
    /* position: absolute; */
border-top-left-radius: 160px;
border-top-right-radius: 160px;

}
.seven-div{
    
    background-size: 40px;
    background-color: rgb(235, 170, 210);
    padding-top: 25vh;
    /* position: absolute; */
border-top-left-radius: 160px;
border-top-right-radius: 160px;

}
.eight-div{
    
    background-size: 40px;
    background-color: rgb(164, 230, 230);
    padding-top: 25vh;
    /* position: absolute; */
border-top-left-radius: 160px;
border-top-right-radius: 160px;

}
.nine-div{
    display: flex;

    background-color: rgb(242, 243, 243);
    
    justify-content: space-around;
    padding: 20px;
    height: 140px;
    /* width: 800px; */
    /* align-items: center; */
    margin: 100px;
}

.paragraph{
    /* text-align: center; */
}
.ten-div{
    text-align: center;
}
.eleven-div{
    height: 300px;
    /* font-weight: 5px; */
    width: 40px;

    display: flex;
    /* width: 200px; */
    /* height: 250px; */
    /* justify-content: space-between; */
    gap: 10px;
    /* margin-left: 90px; */
    /* margin-right: 90px; */
    /* padding: 50px; */
    /* size: 10px; */
    /* width: 220px; */
    /* height: 180px; */
    margin: 10px 100px 100px 100px;
    /* background-color: aliceblue; */
}

}


.twelve-div{
    color: blueviolet;

}

.thirteen-div{text-align: center;
    background-color: black;
    color: white;
    margin-bottom: 100px;
    padding: 40px;
}

.forthin-div{
    background-color: rgb(27, 4, 4);
    /* margin-left: 50px; */
    /* margin-right: 50px; */
    margin: 20px 80px 20px 80px;
    
    color: white;
    text-align: center;
    border-top-left-radius: 160px;
    border-top-right-radius: 160px;
    

}
.button-two{
    color:rgb(5, 51, 82)
    font-style: italic;
    border-width: 15px;
    
}

.last-line{
    color: rgb(102, 99, 99);
}

.span-color{
    color: rgba(245, 6, 46, 0.795);
    font-size:70px;
}
